@model List<NewsAPI.Models.Article>

<h2>Latest News</h2>

<div>
    @if (Model != null)
    {
        @foreach (var article in Model)
        {
            <div>
                <h3>@article.Title</h3>
                <p>@article.Description</p>
                <p>Author: @article.Author</p>
                <p>Published At: @article.PublishedAt</p>
                <a href="@article.Url" target="_blank">Read More</a>
            </div>
            <hr />
        }
    }
    else
    {
        <p>No news articles available.</p>
    }
</div>
